#section-footer{
    background-color: white;
}
#footer{
    background-color: white;
    max-width: 1400px; 
    margin: 0 auto; 
    overflow: hidden;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    a{
        color:#33354d;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        margin-right: 50px;
    }
    a:hover{
        transition: text-shadow 0.3s ease-in-out;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        color: #33354d;
    }
    
}
#footer-top-nav{
    margin-top:50px;
    margin-bottom: 50px;
}
#footer-logos img{
    margin-right:20px;
    margin-top:50px;
    margin-bottom:50px;
}
#footer p{
    max-width: 900px;
    color: gray;
}